<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    room name = {{ c_doc.room_name }}
    <br />
    <br />
    chat record = {{ c_doc.chat_str }}

    <br />
    <br />
    <br />
    <p><a href="{% url 'dj:tag_button' %}">Return to home</a></p>
  </body>
</html>
