<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {{d_doc.title}}
    <br />
    <br />
    description = {{ d_doc.description }}
    <br />
    <br />
    document =
    <a href="{% url 'dj:approval_download' %}">
      <button type="button" class="btn btn-info">DENIED DOWNLOAD</button>
    </a>

    <br />
    <br />
    <br />
    <p><a href="{% url 'dj:tag_button' %}">Return to home</a></p>
  </body>
</html>
