<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <span style="font-size:24px; font-weight:bold"> EMAIL LIST<br /> </span>

    {% if mail_li %}
    <ul>
      {% for mail in mail_li %}
      <!--
            <li> <a href=" /dj/person-test/{{person.id}}">{{person.name}}</a></li>
            -->
      <li><a href="{% url 'dj:mail_detail' mail.id %}">{{mail.title}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <br />
    <br />
    <p><a href="{% url 'dj:tag_button' %}">Return to home</a></p>
  </body>
</html>
