<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <span style="font-size:24px; font-weight:bold"> {{mail.title}}<br /> </span>
    <br />
    <br />
    <a href="{% url 'dj:approval_download' %}">
      <button type="button" class="btn btn-info">DOCX DOWNLOAD</button>
    </a>
    <br />

    description = {{ mail.description}}<br />
    <br />

    <br />
    <br />
    <a href="{% url 'dj:approve' mail.id%}">
      <button type="button">APPROVE</button>
    </a>
    <br />
    <br />
    <a href="{% url 'dj:deny' mail.id%}">
      <button type="button">DENY</button>
    </a>
    <br />
    <br />
    <a href="{% url 'dj:chat'%}">
      <button type="button">CHAT</button>
    </a>

    <br />
    <br />
    <br />
    <p><a href="{% url 'dj:tag_button' %}">Return to home</a></p>
  </body>
</html>
